<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @member.name %> 的家長您好：<br/>
    恭喜您完成報名及付款手續！<br/>
    以下是報名資訊：<br/>
    --<br/>
    <% @transaction.order.line_items.each do |applicant| %>
      學員：<%= applicant.name %><br/>
      年級：<%= applicant.grade %><br/>
      報名場次：<%= applicant.product_detail.description %><br/>
      時間：<%= applicant.product_detail.date_from %> ~ <%= applicant.product_detail.date_to %><br/>
      家長聯絡電話：<%= applicant.parent_phone_number %><br/>
      <br/>
    <% end %>
    --<br/>
    <a href='https://www.facebook.com/zubat.edu.88/'>點我</a>馬上追蹤最新課程資訊
    <%= render partial: 'signature', locals: { image_url: attachments['logo.png'].url } %>
  </body>
</html>